#profile{}

	#profile header{}

	#profile > p{
	    line-height: 1.5em;
	    margin-bottom: 1.5em;
	}

	#profile > ul{}

		#profile > ul > li{}

			#profile > ul > li > i{}

			#profile > ul > li > i:before{
			    width: 20px;
			}


	#social {
    	text-align: center;
    	padding-top: 20px;
	}

		#social a:before{
	    	color: #fff;
		}


#experiance{}

	#experiance header{}

	#experiance .container{}

		#experiance .row{}

			#experiance .row section{
			    padding: 2em;
			}

			#experiance .row section h3{
			    margin-bottom: 0;
			}

			#experiance .row section p{
			    margin-bottom: 0;
			}


#skill{}

	#skill h3{
	    color: #3e3e3e;
	    text-shadow: none;
	}

	#skill p{
	    text-shadow: none;
	}

#project{}

	#project .project-name{
    font-weight: 900;
    font-size: 1.2em;
}

	#project .term{}

	#project .role{
	}


	#project .desc{
    	padding: 1em 1em 1em 2em;
	}

		#project .tech{
		    text-align: left;
		    margin-bottom: 0;
		}

		#project .tech li{}

			#project .tech li span{
			    font-weight: 900;
			    width: 28%;
			    display: inline-block;
			}


	#project hr{
	    border-top: solid 1px rgba(0,0,0,0.2);
	}